{% extends "base.html.twig" %}

{% block title %}Welcome to rating test of the hotel {{ hotel }}.{% endblock %}
{% block body %}
    Welcome to rating test of the hotel {{ hotel }}.
{%  endblock %}

{% block javascripts %}
    {% include 'integration/ca_widget_call.html.twig' %}
{% endblock %}