var iframe = document.createElement('iframe');
iframe.srcdoc = '<div style="color: #FFFFFF;font-size: xx-large;text-align: center;padding-top: 20%;">{{ rating }}%</div>';
iframe.src = 'rating.html';
iframe.width = 100;
iframe.height = 100;
iframe.style.border = 0;
iframe.style.background = '#0024ff';
iframe.style.color = "#ffffff";
iframe.style.fontSize = "large";
iframe.style.position = "absolute";
iframe.style.bottom = 0;
iframe.style.right = 0;
document.body.appendChild(iframe);